img,p{
	margin:0;
	padding:0;
}
#head{
	width:1900px;
	height:50px;
	background:#090909;
}
#head ul li {
	float:left;
	margin-top:10px;
	margin-left:12px;
	list-style:none;
}
#head ul li a{
	text-decoration:none;
	font-size:13px;
	color:#a4a4a4;
}
#head ul #denglu{
	margin-left:360px;
}
#head ul #xiaomishangcheng{
	margin-left:340px;
}
#gouwuche-logo{
	margin:0;
	padding:0;
	float:right;
	width:130px;
	height:50px;
	background:#5a5a5a;
	margin-right:356px;
	position:relative;
	z-index:999
}
#gouwuche-button{
	width:300px;
	height:100px;
	position:absolute;
	background: #f2f2f2;
	right:0px;
	top:50px;
	display:none;
	box-shadow:3px 3px 3px gray;
}
#gouwuche-logo:hover #gouwuche-button{
	display:block;
}
#head ul li:hover a{
	color: #eaeaea;
}
#gouwuche-logo:hover p{
	color:red;
}
/*#gouwuche-logo:hover img{
background:red;*/
#gouwuche-button #pdi{
	margin-top:30px;
	color:#434343;
}
#gouwuche-logo img{
	width:30px;
	height:30px;
	margin-top:10px;
	margin-left:15px;
}
#gouwuche-logo p{
	float:right;
	margin-top:15px;
	margin-right:10px;
	font-size:15px;
	color:#d9d9d9;
}
/*导航*/
#logo-mi{
	width:1200px;
	height:100px;
	/* border:1px solid red; */
	margin:0 auto;
}
#logo-mi img{
	float:left;
	width:60px;
	height:60px;
	margin-top:20px;
}
#kongbai{
	float:left;
	width:198px;
	height:98px;
	/* background: red; */
	/* border:1px solid red; */
	margin:0;

}
#kongbai p{
margin:16px 0 0 60px;
padding:20px 20px; 
/* border:1px solid red; */
}
#kongbai img{
	width:170px;
	height:40px;
	padding:10px 9px 10px 20px;
}
#daohang{
	float:left;
	width:600px;
	height:100px;
}
#daohang ul li{
	float:left;
	list-style:none;
	margin-top:35px;
	margin-left:12px;
}
#daohang ul li a{
	text-decoration:none;
	padding:31px 0 49px 0;
	color:#090909;
}
#daohang ul li:hover a{
	color:orange;
}
/*导航阴影部分*/
.daohang-top{
	width:1900px;
	height:250px;
	position:absolute;
	border:1px solid #cacaca;
	background: #fff;
	top:158px;
	right:1px;
	display:none;
	z-index:999;
	box-shadow:5px 5px 6px  gray;
}
#daohang ul li:hover .daohang-top{
	display:block;
}
/*小米手机下拉列表-1*/
	.daohang-top-1{
	float:left;
	width:180px;
	height:250px;
	background: white;
	position:relative;
	margin-left:350px;
	/* z-index:5; */
	}
	.daohang-top-1 .daohang-top-1-1{
	text-align:center;
	/* border:1px solid red; */
	width:80px;
	height:20px;
	margin-left:50px;
	color:orange;
	}
	.daohang-top-1 #img1{
	width:120px;
	height:120px;
	margin-left:30px;
	}
	.daohang-top-1 #p1{
	height:20px;
	text-align:center;
	margin:0 0 0 56px;
	padding:0;
	position:absolute;
	top:205px; 
	font-size:14px;
	color:orange;
	}
	.daohang-top-1 #p2{
	height:20px;
	text-align:center;
	margin:0 0 0 48px;
	padding:0;
	position:absolute;
	top:182px; 
	font-size:14px;
	}
	.shuxian1{
	float:left;
	width:1px;
	height:110px;
	background: #cacaca;
	margin-left:10px;
	margin-top:60px;

	}
/*小米手机下拉列表-2*/
	.daohang-top-2{
	float:left;
	width:180px;
	height:250px;
	/* background: blue; */
	position:relative;
	margin-left:20px;
	}

	.daohang-top-2 .daohang-top-1-1{
	text-align:center;
	border:1px solid red;
	width:80px;
	height:20px;
	margin-left:50px;
	color:orange;
	}
	.daohang-top-2 #img1{
	width:120px;
	height:120px;
	margin-left:30px;
	}
	.daohang-top-2 #p1{
	height:20px;
	text-align:center;
	margin:0 0 0 56px;
	padding:0;
	position:absolute;
	top:205px; 
	font-size:14px;
	color:orange;
	}
	.daohang-top-2 #p3{
	height:20px;
	text-align:center;
	margin:0 0 0 30px;
	padding:0;
	position:absolute;
	top:182px; 
	font-size:14px;
	}
/*小米手机下拉列表-3*/
	.daohang-top-2 .daohang-top-1-3{
	text-align:center;
	/* border:1px solid red; */
	width:80px;
	height:20px;
	margin-left:50px;
	color:orange;
	}
	.daohang-top-2 #p4{
	height:20px;
	text-align:center;
	margin:0 0 0 68px;
	padding:0;
	position:absolute;
	top:182px; 
	font-size:14px;
	}
/*小米手机下拉列表-4*/
	.daohang-top-2 .daohang-top-1-4{
	text-align:center;
	/* border:1px solid red; */
	width:80px;
	height:20px;
	margin-left:50px;
	color:orange;
	}
	.daohang-top-2 #p5{
	height:20px;
	text-align:center;
	margin:0 0 0 60px;
	padding:0;
	position:absolute;
	top:182px; 
	font-size:14px;
	}
/*小米手机下拉列表-5*/
	.daohang-top-2 .daohang-top-1-5{
	text-align:center;
	/* border:1px solid red; */
	width:80px;
	height:20px;
	margin-left:50px;
	color:orange;
	}
	.daohang-top-2 #p6{
	height:20px;
	text-align:center;
	margin:0 0 0 55px;
	padding:0;
	position:absolute;
	top:182px; 
	font-size:14px;
	}
/*小米手机下拉列表-6*/

	.daohang-top-2 .daohang-top-1-6{
	text-align:center;
	/* border:1px solid red; */
	width:80px;
	height:20px;
	margin-left:50px;
	color:orange;
	}
	.daohang-top-2 #p7{
	height:20px;
	text-align:center;
	margin:0 0 0 50px;
	padding:0;
	position:absolute;
	top:182px; 
	font-size:14px;
	}
/*搜索框内容*/
#sousuo{
	float:right;
	width:330px;
	height:60px;
	/* border:1px solid blue; */
	margin-top:20px;
	padding:0px;
	position:relative;
	background:#f3f3f3 ;
}
#sousuo input{
	width:260px;
	height:57px;
	margin:0;
	padding:0;
}
#sousuo #sousuo-min{
	width:120px;
	height:20px;
	position:absolute;
	top:20px;
	right:80px;
/* border:1px solid blue; */
}
#sousuo #sousuo-min a#xm8{
	font-size:13px;
	background:#e2e2e2;
	padding-right:5px;
	text-decoration:none;
	color:gray;
}
#sousuo #sousuo-min a#xm8:hover{
	color:white;
	background: orange;
	font-size:10px;
}
#sousuo #sousuo-min a#xm2s{
	font-size:13px;
	background:#e2e2e2;
	text-decoration:none;
	color:gray;
}
#sousuo #sousuo-min a#xm2s:hover{
	color:white;
	background: orange;
	font-size:10px;
}
/*放大镜*/
#fdj{
	width:64px;
	height:59px;
	border:1px solid #a7a7a7;
	float:right;
}
#fdj img{
	width:25px;
	height:25px;
	margin-left:20px;
}
#fdj:hover{
	background: red;
}
/**/
.hengxian{
width:1900px;
height:60px;
margin-top:20px;
border-top:1px solid gray;
box-shadow:3px 3px 10px #a3a3a3;
display:flex;
}
.hengxian p{
margin:20px 0 0 350px;
font-size:20px;
}
.hengxian ul li{
list-style:none;
float:left;
font-size:14px;
}
.hengxian ul li a{
text-decoration:none;
color:gray;
}
.hengxian ul li a:hover{
color:red;
}
.hengxian ul li b{
margin:0 10px;
color:#d3d3d3;
font-size:14px;
}
.hengxian ul li:nth-child(1){
margin-left:760px;
}
/*xx*/
.xx{
width:1900px;
height:40px;
background: #f5f5f5;
margin-top:5px;
text-align:center;
line-height:40px;
font-size:13px;
}
.xx a{
margin-left: 20px;
text-decoration:none;
}
.xx a:nth-child(1){
color:red;
}
/*zhuti*/
.zhuti{
width:1200px;
height:1300px;
/* border:1px solid red; */
margin:0 auto;
display:flex;
}
.zhuti .zhuti-1{
width:500px;
height:600px;
/* border:1px solid red; */
display:flex;
position:absolute;
top:400px;
}
.zhuti .zhuti-1 img:nth-child(1){
width:20px;
height:30px;
margin-top:250px;
}
.zhuti .zhuti-1 img:nth-child(3){
width:20px;
height:30px;
margin-top:250px;
}
.zhuti .zhuti-1 img:nth-child(2){
width:470px;
height:500px;
}
.zhuti .zhuti-2{
width:650px;
height:1300px;
margin-left:550px;
/* border:1px solid red; */
}
.zhuti .zhuti-2 .zhuti-22{
font-size:25px;
}
.zhuti .zhuti-2 p{
margin:10px 0;
}
.zhuti .zhuti-2 #gray{
font-size:14px;
color:#a3a3a3;
}
.zhuti .zhuti-2 p b{
color:red;
margin-left:5px;
}
/*.zhuti .zhuti-2 p:nth-child(3){
color:red;
}*/
.zhuti .zhuti-2 .zhuti-2-1{
width:650px;
/* height:50px; */
border:1px solid #d3d3d3;
display:flex;
}
.zhuti-2-1 .zhuti-2-1-1{
width:100px;
height:30px;
background: red;
margin-bottom:10px;
color:white;
text-align:center;
line-height:30px;
font-size:14px;
}

/*.zhuti-2-1 p:nth-child(2){
/* margin:auto 10px; 
}*/
.zhuti-2 .zhuti-2-2{
width:650px;
height:100px;
border:1px solid  #d3d3d3;        
background: #f3f3f3;

}
.zhuti-2 .zhuti-2-2 p{
margin:30px 0 10px 30px;
font-size:15px;
}

.zhuti-2-1 span{
font-size:14px;
margin:auto 15px;
}
.zhuti-2-2 span{
margin-left:34px;
color:red;
font-size:14px;
}
.zhuti-2 .zhuti-2-2 a{
text-decoration:none;
color:red;
}
#p-6{
font-size:18px;
margin:26px 0 20px 0;
}
.zhuti-3{
/* background: red; */
width:650px;
height:100px;
display:flex;
flex-wrap:wrap;
justify-content:space-between;
}
.zhuti-3 #p-7,#p-8,#p-9{
width:320px;
height:40px;
border:1px solid #d6d6d6;
margin:0;
padding:0;
text-align:center;
line-height:40px;
}
.zhuti-3 #p-7{
border:1px solid red;
}
.zhuti-3 #p-7 #p-10{
color:red;
font-size:17px;
}
.zhuti-2 #p-11{
width:320px;
height:40px;
border:1px solid red;
text-align:center;
line-height:40px;
color:red;
}
.zhuti-2 #p-11 #p-12{
width:5px;
height:5px;
background: black;
font-size:10px;
margin-right:20px;
}
#p-12{
font-size:18px;
margin:26px 0 20px 0;

}
#p-12 a{
font-size:10px;
margin-left:400px;
text-decoration:none;
color:red;
}
.baoxian{
width:650px;
height:140px;
border:1px solid #d6d6d6;
display:flex;
}
.baoxian #oo{
width:50px;
height:50px;
background: white;
margin:60px 0 0 30px;
}
.baoxian img{
width:50px;
height:50px;
margin:35px -20px;
}
.baoxian ul{
list-style:none;
}
.baoxian ul li{
margin:8px 0;
}
.baoxian ul li:nth-child(1){
font-size:20px;
}
.baoxian ul li:nth-child(2){
font-size:15px;
color:#c3c3c3;
}
/*.baoxian ul li:nth-child(3){
font-size:10px;
color:white;
border:1px solid #c3c3c3;
margin-right:10px;
}*/
.baoxian ul{
color:#a3a3a3;
padding-left:30px;
margin:20px 0;
}
.baoxian ul li:nth-child(3) a{
color:red;	
text-decoration:none;
}
.baoxian ul li:nth-child(3) b{
margin:0 10px;
}
.baoxian ul li a span{
color:gray;
margin-left:190px;
}
/**/
.zongji{
width:650px;
height:140px;
border:1px solid  #d3d3d3;        
background: #f3f3f3;
margin-top:25px;
}
.zongji p:nth-child(1){
font-size:14px;
color:gray;
margin:35px 0 0 30px;
}
.zongji p a{
margin-left:330px;
text-decoration:none;
}
.zongji p:nth-child(2){
font-size:25px;
color:red;
margin:20px 0 0 30px;
}
#xihuan{
background: red;
padding:18px 150px;
line-height:80px;
text-decoration:none;
color:white;
}
#xihuan-1{
background: #a3a3a3;
padding:18px 60px;
line-height:80px;
text-decoration:none;
color:white;
}
#xihuan-1:hover{
background:gray;
}
.lalala b{
margin:0 10px;
}
/**/
.tbsm{
width:1900px;
height:700px;
background: #f3f3f3;
}
.tbsm .tbsm-1{
width:1200px;
height:800px;
margin:20px auto;
}
.tbsm p{
font-size:30px;
padding:20px 0;

}
.tbsm .tbsm-1 #img-111{
width:1225px;    
height:150px;
}
/***尾部**/
ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}
#tail-bg{
	height:270px;
	width:100%;
	background: white;
}
#tail{
	margin:0 auto;
	background:white;
	width:1200px;
	height:270px;
	z-index:998
}
#tail-1{
	width:1200px;
	height:80px;
}
#tail-1 ul li{
	float:left;
	list-style-type:none;
	margin:30px 6px;
	margin-left:70px;
}
#tail-1 ul li a{
	color:block;
}
#tail-1 ul li a:hover{
	color:orange;
}
#tail-1 ul li b{
	margin-left:65px;
}
#hx{
	width:1200px;
	height:1px;
	background:red;
}
.bangzhu{
	float:left;
	background:white;
	width:155px;
}
.bangzhu ul{
	list-style-type:none;
}
.bangzhu ul li{
	margin-top:10px;
	font-size:13px;
}
.bangzhu ul li a{
	color:gray;
}
 .bangzhu .da{
	font-size:15px;
	margin-top:30px;
	margin-bottom:30px;
	color:block;
}
.bangzhu .da a{
	color:block;
}

#shuxian{
	float:left;
	width:1px;
	height:120px;
	background:red;
	margin-top:30px;
	margin-left:10px;
}
.dianhua{
	float:left;
	/* background:white; */
	margin-left:40px;
	margin-top:30px;
	width:200px;
}
.dianhua #phone{
	font-size:20px;
	color:orange;
}
.dianhua p{
	font-size:12px;
	text-align:center;
	padding-top:1px;
}
.dianhua span{
	font-size:12px;
	text-align:center;
}
#kefu{
	width:110px;
	height:20px;
	text-align:center;
	margin-left:40px;
	border:1px solid orange;
	font-size:13px;
	padding:4px;
}
p{
	padding:5px;
	margin:0;
}
#huafei{
	margin-bottom:15px;
}
#kefu a{
	color:orange;
}
#kefu:hover{
	background:orange;

}
#kefu:hover a{
	color:white;
}
/*底部信息部分*/
#bq-xinxi-0{
	width:1900px;
	height:180px;
	background:#f6f6f6 ;
}
#bq-xinxi{
	width:1200px;
	height:180px;
	margin:0 auto;
	background: #f6f6f6;
}
#db-logo{
	width:760px;
	height:60px;
	padding-top:40px;
	background: #f6f6f6;
	float:left;
}
#db-logo img{
float:left;
}
#db-logo a{
float:left;
display:block;
font-size:12px;
color:gray;
}
#db-logo a:hover{
color:orange;
}
#db-logo #dbsx{
width:1px;
height:13px;
background: red;
float:left;
margin:3px 4px;
background: gray;
}
#db-logo p{
font-size:12px;
margin:0;
padding:0;
color:#a5a5a5;
}
#db-logo-1{
	width:440px;
	height:60px;
	background: #f6f6f6;
	float:right;
	padding-top:40px;
}
#db-logo-1 #img-002{
width:80px;
height:30px;
}
#jiewei{
width:1200px;
height:80px;
text-align:center;
background: #f6f6f6;
float:right;
}
#jiewei h3{
padding:15px;
font-family:"楷体";
color:#a5a5a5;
}
